<div class="col-md-12" style="padding-top: 20px; ">
  <div class="col-md-3">
    <p>
      <strong>Title:</strong>
      <%= @license.title %>
    </p>

    <%= link_to 'Get file', @license.file %> |
    <%= link_to 'Edit', edit_license_path(@license) %> |
    <%= link_to 'Back', licenses_path %>
  </div>
  <% if @license_data == "Invalid License"%>
    <div class="col-md-8">
      <h3>Invalid License</h3>
    </div>
  <% else %>
  <div class="col-md-4 well license-props">
    <ul class="license-ul">
      <li>Company Name: <b><%= @license_data[2] %></b></li>
      <li>License ID: <b><%= @license_data[4] %></b></li>
      <li>License Edition: <b><%= @license_data[0] %></b></li>
      <li>License Type: <b><%= @license_data[1] %></b></li>
      <li>Customer ID: <b><%= @license_data[3] %></b></li>
    </ul>
  </div>
  <div class="col-md-4 well license-props">
    <ul class="license-ul">
      <li>Contact Email: <b><%= @license_data[5] %></b></li>
      <li>From: <b><%= @license_data[6] %></b></li>
      <li>To: <b><%= @license_data[7] %></b></li>
      <li>Number of Total Users: <b><%= @license_data[8] %></b></li>
      <li>Number of Paid Users: <b><%= @license_data[12] %></b></li>
      <% if !@license_data[10].nil? && !@license_data[11].nil? %>
        <li>AWS Add On Username: <b><%= @license_data[10] %></b></li>
        <li>AWS Add On Password: <b><%= @license_data[11] %></b></li>
        <li>Encoded Token: <b><%= @encoded_token %></b></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="col-md-1"></div>
</div>